{{login_response}}
<form action="/student-signin/" name="studentsignin" method="POST">
{% csrf_token %}
<label for="username">UserName</label>
<input type="text" name="id_username" id="id_username" class="text ui-widget-content ui-corner-all" value="" />
<label for="password">Password</label>
<input type="password" name="id_password" id="id_password" value="" class="text ui-widget-content ui-corner-all"  value="" />
<input type="image"   src="/static_files/images/intrest/login.png"  id="submit" style="height: 30px;"/><a href="/passwordreset/">Forgot Password</a>
</form>
<!--<hr/>-->

<!--<a href="/">-->
<!--<input type="image"   src="/static_files/images/intrest/forgot.gif"  id="forgotsubmit" style="height: 50px; width: 50px;"/>-->
<!--</a>-->
<!--<br/>-->
<!--<a href="/">-->
<!--<input type="image"   src="/static_files/images/intrest/signup.jpeg"  id="forgotsubmit" style="height: 50px;"/>-->
<!--</a>-->
