<html>
    <head>
        <script src='/static/js/jquery.js' type="text/javascript"></script>
<script src='/static/js/jquery.min.js' type="text/javascript"></script>
<script src='/static/js/jquery-1.5.1.js' type="text/javascript"></script>
<script type="text/javascript" src="/static/js/tiny_mce/tiny_mce.js"></script>

<script src='/static/js/textareas.js' type="text/javascript"></script>
        
    </head>
    <body>

{{response}}





    



<form action="/ask-question/" name="askquestion" method="POST">
{% csrf_token %}
<table>
<tr>
<td>
Title
</td>
<td>

<textarea cols=100 rows=2 name="title" id=title' ></textarea>
</td>
</tr>
<tr>
<td>
Question:
</td>
<td>
<textarea cols=100 rows=10 name="subject" id='subject' ></textarea>
</td>
</tr>
<tr>
    <td>
        Intrest
    </td>
<td>
<select multiple='multiple' name='intrest' id='intrest' size="5">
{% for i in intrestobj %}

<option value='{{i.intrestfieldname}}'>{{i.intrestfieldname }}</option>

{%endfor%}
</select>




</td>
    
</tr>
<tr>
    <td>
        Department:
    </td>
<td>
    
<select multiple='multiple' name='department' id='department' size="5">
{% for i in departmentobj %}
<option value='{{i.departmentname}}'>{{i.departmentname}}</option>
{%endfor%}
</select>
</td>
    
</tr>
<tr>
    <td>
        <input type="submit" id="submit" value="Ask"/>
    </td>
</tr>
</table>
</form>         
    </body>
</html>

