<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="robots" content="prashant gaur,learnincollege.com, study ,collleges />
<meta name="keywords" content="leading college learning website." />

<meta name="author" content="prashant gaur" />
<meta name="description" content="learning website" />

<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-39417634-1']);
_gaq.push(['_trackPageview']);

(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>



<title>learnincollege.com</title>
<link href="/static_files/css/style.css" rel="stylesheet" type="text/css" />
<script src='/static_files/js/jquery.js' type="text/javascript"></script>
<script src='/static_files/js/jquery.min.js' type="text/javascript"></script>
<script src='/static_files/js/jquery-1.5.1.js' type="text/javascript"></script>
<script src='/static_files/js/script.js' type="text/javascript"></script>
<link rel="stylesheet" href="/static_files/js/nivo-slider/themes/default/default.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/static_files/js/nivo-slider/themes/light/light.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/static_files/js/nivo-slider/themes/dark/dark.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/static_files/js/nivo-slider/themes/bar/bar.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/static_files/js/nivo-slider/nivo-slider.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/static_files/js/nivo-slider/demo/style.css" type="text/css" media="screen" />
<script type="text/javascript" src="/static_files/js/nivo-slider/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/static_files/js/nivo-slider/jquery.nivo.slider.js"></script>
<script type="text/javascript" src="/static_files/js/datepicker/glDatePicker.min.js"></script>
<link href="/static_files/js/datepicker/styles/glDatePicker.default.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>



<script type="text/javascript">
$(window).load(function() {
$('#slider').nivoSlider();
$('#dob').glDatePicker();
$('#dob1').glDatePicker();
});
</script>
</head>


<body>
<div class="maincon">
<div class="header">


<div class="header1">
<img src="/static_files/images/intrest/logo.jpg" style="width:330px ; height: 110px;"/>
</div>

<div class="header2">
{% include "frontend/html/login.html" %}
</div>


<div class="header3">
<div class="header31">






</div>                


<div class="header32">
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="fb-like" data-href="http://facebook.com/learnincollege" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
<br/>
<a href="https://twitter.com/_lic_www" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @_lic_www</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>


<script src="//platform.linkedin.com/in.js" type="text/javascript">
 lang: en_US
</script>
<script type="IN/Share" data-url="learnincollege.com" data-counter="right"></script>


<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-send" data-href="http://www.learnincollege.com" data-font="verdana"></div> 
<br/>
<a href="mailto:learnincollege@gmail.com">
<img src="/static_files/images/intrest/mail-me.jpeg" style="height: 40px; width: 40px;">
</a>


</div>


</div>
</div>




<div class="clear"></div>
<div class="topnav">
<ul>
<li><a href="/">Home</a></li>
<li><a href="/contact/">Contact Us</a></li>
<li style="border:none;"><a href="/aboutus.html/">About Us</a></li>
<li style="border:none;"><a href="/ask-question/">Ask Question</a></li>

</ul>


</div>



<div class="clear"></div>

<div class="flash">

<div class="flashleft-content">
  
<!--Learnincollege.com is a question and-->
<!--answer website for college student as well asself learner .Any one can ask any kind of-->
<!--question in related fields It's 100% free,registration  is required. -->

{%  include "frontend/html/signup.html" %}


</div>




<div class="flashleft-images">
<img src="/static_files/images/intrest/flash-1.jpeg" style="height: 40px; width: 40px;"/>
<br/>
Any Body can
ask a
question.</div>

<div class="flashleft-line">
<img src="/static_files/images/intrest/black.jpg" style="width: 1px ; height: 200px;"/>
</div>

<div class="flashleft-images">
<img src="/static_files/images/intrest/flash-2.jpeg" style="height: 40px; width: 40px;"/>
<br/>
Anybody can answer.
</div>

<div class="flashleft-line">
<img src="/static_files/images/intrest/black.jpg" style="width: 1px ; height: 200px;"/>
</div>
<div class="flashleft-images">
<img src="/static_files/images/intrest/flash-3.jpeg" style="height: 40px; width: 40px;"/>
<br/>
You need to be a registered user.
</div>

<div class="flashleft-line">
<img src="/static_files/images/intrest/black.jpg" style="width: 1px ; height: 200px;"/>
</div>
<div class="flashleft-images">
<img src="/static_files/images/intrest/flash-4.jpeg" style="height: 40px; width: 40px;"/>
<br/>Best Questions and Answers will be voted out
and respenctive player will bonus points .
</div>

<div class="flashleft-line">
<img src="/static_files/images/intrest/black.jpg" style="width: 1px ; height: 200px;"/>
</div>
</div>
<div class="clear"></div>
<div class="mainbody">
<div class="left">
You can  connect with us without being part a of any college , just simply register yourself with above signup form.
<br/>
If you are a college student ask to your college to <a href="/">Connect </a>with us.
<br/>
When you will registered through a registered college
you can see youe college's 
<a href="Noticeboard">NoticeBoard </a>and <a href="/magaziene/"> 
Magaziene</a>.
</div>


<div class="center">
<div id="wrapper" style="height: 280px;">
<div class="slider-wrapper theme-default">
<div id="slider" class="nivoSlider">
<img src="/static_files/images/templates/up.jpg" data-thumb="/static_files/js/nivo-slider/demo/images/nemo.jpg" alt="" title="#htmlcaption" style="height: 246px;" width=500/>

<img src="/static_files/images/templates/toystory.jpg" data-thumb="/static_files/js/nivo-slider/demo/images/toystory.jpg" alt="" style="height: 246px;" width=500/>
<img src="/static_files/images/templates/walle.jpg" data-thumb="/static_files/js/nivo-slider/demo/images/walle.jpg" alt="" data-transition="slideInLeft"  width=500 style="height: 246px;"/>
<img src="/static_files/images/templates/nemo.jpg" data-thumb="/static_files/js/nivo-slider/demo/images/nemo.jpg" alt="" title="#htmlcaption"  width=500 style="height: 246px;"/>
</div>
<div id="htmlcaption" class="nivo-html-caption">
</div>
</div>
</div>
</div>
<div class="right">
















<table style="border: 1px solid rgb(0, 112, 192);" height:280px; align="center" border="0" cellpadding="0" cellspacing="0" >
<tbody>
<tr>
<td class="black_heading" style="padding: 3px;">
<div class="style1" align="center">NEWS FLASH </div>
</td>
</tr>
<tr>
<td bgcolor="#0070c0" height="1">
</td>
</tr>
<tr>
<td>
<marquee behavior="scroll" scrolldelay="200" direction="up" onmouseover="this.stop()" onmouseout="this.start()" style="height: 280px;">
<table border="0" cellpadding="3" cellspacing="0" style="height: 280px;">
<tbody>
<tr>




<td class="black_heading" valign="top">»</td>
<td class="red_heading"><div align="justify">
{{newsfeed.first}}
</div>
<p align="right">&nbsp;</p></td>
</tr>
<tr>
<td class="black_heading" valign="top">&nbsp;</td>
<td class="red_heading">&nbsp;</td>

</tr>
<tr>
<td class="black_heading" valign="top">» </td>
<td class="red_heading"><div align="justify">
{{newsfeed.second}}
</div>
<p align="right">&nbsp;</p></td>
</tr>
<tr>
<td class="black_heading" valign="top">&nbsp;</td>

<td class="red_heading">&nbsp;</td>
</tr>
<tr>
<td class="black_heading" valign="top">» </td>
<td class="red_heading"><div align="justify">
{{newsfeed.third}}
</div>
<p align="right">&nbsp;</p></td>
</tr>
<tr>

<td class="black_heading" valign="top">&nbsp;</td>
<td class="red_heading">&nbsp;</td>
</tr>

<tr>
<td class="black_heading" valign="top" width="3%">»</td>
<td class="red_heading" width="97%"><div align="justify">
{{newsfeed.fourth}}
</div>
<p align="right"> <a href="javascript:if(confirm('http://careeravenues.info/University.html%20%20\n\nGET%20ALL%20DETAILS%20ABOUT%20UNIVERSITIES.%20%20\n\nDo%20you%20want%20to%20open%20it%20from%20the%20server?'))window.location='http://careeravenues.info/University.html'" target="_blank"></a> </p></td>

</tr>
<tr>
<td class="black_heading" valign="top">&nbsp;</td>
<td class="red_heading">&nbsp;</td>
</tr>
<tr>
<td class="black_heading" valign="top">»</td>
<td class="red_heading"><div align="justify">

<p>
{{newsfeed.fifth}}

</p>
</div>
<p align="right"> <a href="javascript:if(confirm('http://careeravenues.info/University.html%20%20\n\nGET%20ALL%20DETAILS%20ABOUT%20UNIVERSITIES.%20%20\n\nDo%20you%20want%20to%20open%20it%20from%20the%20server?'))window.location='http://careeravenues.info/University.html'" target="_blank"></a> </p></td>
</tr>
</tbody></table>
</marquee>
</td>

</tr>
</tbody></table>













</div>

</div>

<div class="clear"></div>

<!--<div class="push"></div>-->


<div class="clear"></div>
<div class="footer">
<div class="footerlinks">
<ul>
<li>@ Copyright:2013 Prashant Gaur</li>|<a href="/affiliate/">Affiliate</a>
</ul>
<div class="clear"></div>
</div>
<div class="clear"></div>
</div>
</body>
</html>